
.navList {
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.navList li {
  display:inline;
}

.navList a {
  display: inline-block;
  padding: 10px;
}

.navList img {
  display: inline-block;
  padding: 10px;
  width: 5%;
  height: 5%;
}

.mainItem {
  font-size: 150%;
  font-weight: bold;
}

.schedList {
  list-style:none;
}

.day {
  font-weight: bold;
}
